* @famedly/infrastructure

roles/bitwarden/ @jcgruenhage @famedly/infrastructure
roles/hedgedoc/ @jcgruenhage @famedly/infrastructure
roles/matomo/ @jcgruenhage @famedly/infrastructure
roles/snipe-it/ @jdreichmann @famedly/infrastructure
